In [5]:
person={
    "first":"Corey",
    "last":"Schafer",
    "email":"coreymschafer@gmail.com"
} #Dataframe single person

In [8]:
people={
  "first":["Corey"],
    "last":["Schafer"],
    "email":["coreymschafer@gmail.com"]  
} #Make values a list, so that we can save multiple entries
#The first value is the key, and the second is the data saved 
#Keys are columns, and values are rows

In [15]:
people={
  "first":["Corey","Jane","John"],
    "last":["Schafer","Doe","Doe"],
    "email":["coreymschafer@gmail.com","janedoe@email.com","johndoe@email.com"]  
}

In [11]:
people['email']

['coreymschafer@gmail.com', 'janedoe@email.com', 'johndoe@email.com']

In [12]:
#We can create a dataframe from the previous dictionary

In [16]:
import pandas as pd

In [19]:
df=pd.DataFrame(people) #Create dataframe from the previous dictionary

In [21]:
df #DataFrame represented with rows and columns

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John      Doe        johndoe@email.com

In [22]:
#Note that in the previous dataframe we have a first column without a key. This is an index that identifies each row entry.

In [23]:
#Access values from a column
df['email']

0    coreymschafer@gmail.com
1          janedoe@email.com
2          johndoe@email.com
Name: email, dtype: object

In [24]:
#A dataframe is more than just a dictionary.

In [26]:
type(df['email'])

pandas.core.series.Series

In [27]:
#This is a series: list of data. One dimensional array. Rows of data. Dataframe: rows and columns. A container for multiple series objects (series: a colection of rows per each column)

In [28]:
#We can also use dot notation
df.email

0    coreymschafer@gmail.com
1          janedoe@email.com
2          johndoe@email.com
Name: email, dtype: object

In [30]:
#Access multiple columns
df[['last','email']] #Pass a list inside of the brakets in order to access to multiple values

      last                    email
0  Schafer  coreymschafer@gmail.com
1      Doe        janedoe@email.com
2      Doe        johndoe@email.com

In [31]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [33]:
#Access rows. iloc: integer location
df.iloc[0] #Returns a series of values from the first row

first                      Corey
last                     Schafer
email    coreymschafer@gmail.com
Name: 0, dtype: object

In [35]:
df.iloc[[0,1]] #Access to multiple rows. It returns a dataframe.

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com

In [37]:
df.iloc[[0,1],1] #First index: the number of the rows, second index: value of the column

0    Schafer
1        Doe
Name: last, dtype: object

In [38]:
df.iloc[[0,1],2]

0    coreymschafer@gmail.com
1          janedoe@email.com
Name: email, dtype: object

In [39]:
df.iloc[[0,1],[1,2]]

      last                    email
0  Schafer  coreymschafer@gmail.com
1      Doe        janedoe@email.com

In [41]:
df.loc[0]

first                      Corey
last                     Schafer
email    coreymschafer@gmail.com
Name: 0, dtype: object

In [42]:
df.loc[[0,1]]

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com

In [43]:
df.loc[[0,1],['email','last']]

                     email     last
0  coreymschafer@gmail.com  Schafer
1        janedoe@email.com      Doe